.btnPrd {
    height: 45px;
    /* width: auto;
    min-width: 55px; */
    width: 75px;
}
.PrecioPrd {
    margin: 0;
}

.btnSize {
margin-left: 200px;
}

.titleSize {
    position: absolute;
}

.table-fixed{
    max-height: 400px;
    overflow-y: auto;
}

.cantidad{
    width: auto;
    margin: 0px;
    padding: 0px;
    height: 1.5em;
}

.display[readonly]{
    background: transparent;
    border: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}