.btnPrd {
    height: 45px;
    /* width: auto;
    min-width: 55px; */
    width: 75px;
}
.PrecioPrd {
    margin: 0;
}

.btnSize {
margin-left: 200px;
}

.titleSize {
    position: absolute;
}

input[readonly]{
    background: transparent;
    border: none;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select: none;
}