.btn_venta{
    border-radius: 8px;
} 

.selected {
    box-shadow: inset 0 0 10px 2px #484a52;
    border: 4px solid firebrick;
    border-radius: 8px;
}

.btn_tamano{
    color: black;
}

.saborelegido {
    font-size: 28px;
    background: #d7d9db;
    margin-right: 5px;
}

.saborelegido spam{
    color: firebrick;
    margin-right: 5px;
}

.btn_sabor {    
    height: auto;
    width: 90px;
}

.btn_prd{
    height: 70px;
}

.btn_topping{
    height: 75px;
    width: 180px;
}
/*
.PrecioPrd {
    margin: 0;
}

.btnSize {
margin-left: 200px;
}
*/
/* .titleSize {
    position: absolute;
<<<<<<< HEAD
}  */
/* 
input[readonly]{
=======
}

.table-fixed{
    max-height: 400px;
    overflow-y: auto;
}

.cantidad{
    width: auto;
    margin: 0px;
    padding: 0px;
    height: 1.5em;
}

.display[readonly]{
>>>>>>> 95ad344d4c0c75fd717264909b1194f17c420275
    background: transparent;
    border: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
<<<<<<< HEAD
} */

/* 
.btn_venta{
    border-radius: 8px;
} */

/* .selected p{ */
    /* background-color: #5bc0de !important; */
    /* color: white !important; */
/* } */


=======
    cursor: default;
}
>>>>>>> 95ad344d4c0c75fd717264909b1194f17c420275
