* {  
    margin: 0;  
    padding: 0;  
}  

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
    
#keyboard {  
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
    margin: 0;  
    padding: 0;  
    list-style: none;  
}  

#keyboard li {      
    float: left;  
    margin: 0 5px 5px 0;  
    width: 60px;  
    height: 60px;  
    font-size: 24px;
    line-height: 60px;  
    text-align: center;  
}

.letter {  
    float: left;  
    margin: 0 5px 5px 0;  
    width: 60px;  
    height: 60px;  
    font-size: 24px;
    line-height: 60px;  
    text-align: center;  
    background: #fff;  
    border: 1px solid #b3b3b3;  
    border-radius: 5px;
    pointer-events: all;
}  

.clearl {  
    clear: left;  
} 

.letter:hover {  
    position: relative;  
    top: 1px;  
    left: 1px;  
    border-color: #a3a3a3;  
    cursor: pointer;  
}  

.Nosend {
	float: left;  
    margin: 0 5px 5px 0;  
    width: 60px;  
    height: 60px;  
    font-size: 24px;
    line-height: 60px;  
    text-align: center;  
    background: rgb(231, 231, 231);  
    border: 1px solid #d8d6d6;  
    border-radius: 5px;  
    cursor: not-allowed;
    pointer-events: none;
}

.send {
    pointer-events: all;
}

